/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');


/* GENERAL */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open sans', sans-serif;
    height: 100vh;
}

input[type=email] {
    border: 1px solid hsl(243, 87%, 12%);
}

input::placeholder {
    color: hsl(0, 0%, 75%);
    font-size: 1.1rem;
}


/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 2rem 6rem 2rem;
}

.header__logo {
    width: 8rem;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1.2rem;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}


/* MAIN */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__article1,
.main__article2 {
    margin: 0 2rem;
}

.article1__picture,
.article2__picture {
    max-width: 90%;
    margin: auto;
}

.article1__picture {
    margin-bottom: 3rem;
}

.article1__title {
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.article1__text {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    padding: 0 2.5rem;
    text-align: center;
}

.article1__form,
.article3__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2.5rem;
}

.article1__form__input,
.article3__form__input {
    border-radius: 3px;
    font-size: 1.4rem;
    padding: 0.7rem 1rem;
}

.article1__form__button,
.article3__form__button {
    background-color: hsl(224, 93%, 58%);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 3px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.8rem 1rem;
    margin-bottom: 15rem;
    transition: ease-in-out 0.3s;
}

.article1__form__button:hover,
.article3__form__button:hover {
    background-color: hsl(224, 87%, 70%);
    cursor: pointer;
}

.article2__sectiontop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article2__picture {
    margin-bottom: 5rem;
}

.article2__title {
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.article2__text {
    color: hsl(238, 22%, 44%);
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.article2__link {
    border-bottom: 1.5px solid rgb(60, 159, 143);
    display: inline-block;
    gap: 0.5rem;
    margin: 1.5rem 0 3rem 0;
    padding-bottom: 0.5rem;
}

.article2__link--a {
    color: hsl(170, 45%, 43%);
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.75rem;
    text-decoration: none;
}

.article2__link--icon {
    width: 1.6rem;
    height: 1.6rem;
}


.article2__testimonials {
    background-color: fff;
    border-radius: 8px;
    box-shadow: 0px 5px 8px rgba(60, 159, 143, 0.25);
    padding: 2rem;
    margin: 0rem auto 10rem auto;
    width: 30rem;
}

.testimonials__quotes {
    margin-bottom: 1rem;
}

.testimonials__text {
    color:hsl(243, 87%, 12%);
    font-size: 1rem;
    line-height: 2;
    margin-bottom: 2rem;
}

.testimonials__infos {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.testimonials__avatar {
    border-radius: 50px;
    width: 3rem;
}

.testimonials__author__wrapper {
    color: hsl(243, 87%, 12%);
    display: flex;
    flex-direction: column;
}

.testimonials__author {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.testimonials__position {
    font-size: 0.8rem;
}

.main__article3 {
    background-color: hsl(238, 22%, 44%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    gap: 2rem;
    padding: 5rem 2.5rem;
    text-align: center;
}

.article3__title {
    font-size: 1.6rem;
}

.article3__text {
    font-size: 1.3rem;
}

.article3__form {
    gap: 1rem;
}

.article3__form__input--bottom[type=email] {
    border: none;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
}

.article3__form__button--bottom {
    font-size: 1.2rem;
    margin-bottom: 0;
}


/* FOOTER */

.footer {
    background-color: hsl(243, 87%, 12%);
    color: white;
    padding: 5rem 3rem;
}

.footer__logo {
    filter: brightness(0) invert(1);
    margin-bottom: 3rem;
    width: 16rem;
}

.footer__phone,
.footer__mail {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.footer__phone img,
.footer__mail img {
    width: auto;
    height: 100%;
}

.footer__phone a,
.footer__mail a {
    color: white;
    text-decoration: none;
}

.footer__mail {
    margin-bottom: 5rem;
}

.footer__links1,
.footer__links2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.3rem;
    list-style: none;
    margin-bottom: 4rem;
    padding-left: 0;
}

.footer__social-media {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}


.social-media__logo {
    filter: brightness(0) invert(1);
    border: 1px solid white;
    border-radius: 50px;
    padding: 0.6rem;
    height: 3rem;
    width: 3rem;
    overflow: visible;
}


/* MEDIA QUERIES */

@media all and (min-width:800px) {

    .header {
        margin: 5rem 5rem 6rem 5rem;
    }
   
    .header__logo {
        width: 10rem;
    }
    
    .nav__links {
        gap: 3rem;
        padding-right: 1.5rem;
    }

    .main__article1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 5rem 30rem 5rem;
    }

    .article__content {
        margin-right: 5rem;
        width: 50%;        
    }

    .article1__picture {
        max-width: 50%;
        margin: auto;
        order: 2;
    }

    .article1__title {
        font-size: 3.8rem;
        text-align: left;
    }
    
    .article1__text {
        font-size: 1.6rem;
        padding-left: 0;
        text-align: left;
    }

    .article1__form {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 5rem;
    padding: 0;
    }

    .article1__form__button {
       margin-bottom: 0;
       padding: 0 5rem;
    }

    .article1__form__input {
        width: 30rem;
    }

    .main__article2 {
        display: flex;
        align-items: center;
        margin: 0 5rem 10rem 5rem;
    }
 
    .article2__picture {
        max-width: 45%;
        margin: auto;
        order: 2;
    }

    .article__content1 {
        display: flex;
        flex-direction: column;
    }

    .article2__testimonials {
        margin: 0;
    }
    
    .article2__sectiontop {
        display: block;
        margin-right: 10rem;
        margin-bottom: 3rem;
    }

    .article2__title {
        font-size: 3.8rem;
        text-align: left;
    }

    .article2__text {
        font-size: 1.6rem;
        padding-right: 10rem;
    }

    .article2__link--a {
        font-size: 1.6rem;
    }

    .article2__link--icon {
        width: 2rem;
        height: 2rem;
    }





    .article2__testimonials {
        padding: 4rem;
        width: 40rem;
    }
    
    .testimonials__text {
        font-size: 1.4rem;
    }
        
    .testimonials__avatar {
        width: 3.5rem;
    }
        
    .testimonials__author {
        font-size: 1.3rem;
    }
    
    .testimonials__position {
        font-size: 1rem;
    }
}
