/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');


/* GENERAL */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open sans', sans-serif;
    padding: 2rem;
    height: 100vh;
}


/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.header__logo {
    width: 8rem;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1.4rem;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}


/* MAIN */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article1__picture,
.article2__picture {
    max-width: 90%;
    margin: auto;
}

.article1__picture {
    margin-bottom: 3rem;
}

.article1__title {
    font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
}

.article1__text {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    padding: 0 2.5rem;
    text-align: center;
}

.article1__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2.5rem;
}

.article1__form__input {
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
}

.article1__form__button {
    background-color: hsl(224, 93%, 58%);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.8rem 1rem;
    margin-bottom: 15rem;
    transition: ease-in-out 0.3s;
}

.article1__form__button:hover {
    background-color: hsl(224, 87%, 70%); 
    cursor: pointer;
}


/* FOOTER */

.social-media__logo {
    height: 2rem;
}